body {
  background-color: #fff8f5;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #343a40;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breed-name {
  font-weight: 300;
  font-size: large;
  padding-left: 1rem;
}

.dog-card {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #afafaf;
  background-color: white;
  border-radius: 0.5rem;
}

.dog-test-img {
  object-fit: contain;
  width: 300px;
  height: 200px;
}

.dog-img {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid #afafaf;
  background-color: white;
  border-radius: 0.5rem;
  object-fit: contain;
  width: 300px;
  height: 200px;
}

.placeholder-img {
  margin-top: 3rem;
  margin-bottom: 5rem;
  object-fit: contain;
  width: 100%;
  height: 400px;
}

a {
  text-decoration: none;
}

a:hover {
  color: default;
}

.get-dog {
  background-color: #343a40;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 300;
}

.h3-title {
  background-color: #343a40;
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  font-weight: 400;
  font-size: medium;
}
