body {
  background-color: #fff8f5;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #343a40;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breed-name {
  font-weight: 300;
  font-size: large;
  padding-left: 1rem;
}

.dog-card {
  padding: 0.7rem;
  margin: 0.5rem;
  margin-top: 2rem;
  border: 1px solid #afafaf;
  background-color: white;
  border-radius: 0.5rem;
}

.dog-img {
  object-fit: contain;
  width: 300px;
  height: 200px;
}

.placeholder-img {
  margin-top: 3rem;
  margin-bottom: 5rem;
  object-fit: contain;
  width: 100%;
  height: 400px;
}

a {
  text-decoration: none;
}

a:hover,
i:hover {
  cursor: pointer;
}

.get-dog {
  background-color: #343a40;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 300;
}

.find-dog {
  background-color: #343a40;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 300;
}

.h3-title {
  background-color: #343a40;
  margin-top: auto;
  padding-top: 1.2rem;
  padding-bottom: 0.2rem;
  padding-left: 4rem;
  font-weight: 400;
  font-size: medium;
}

.nav-item {
  padding-top: 1.2rem;
  padding-left: 2rem;
  font-weight: 300;
  font-size: medium;
  color: white;
}

.p-favorites {
  text-align: center;
  font-size: large;
  font-weight: 350;
  margin-top: 2rem;
}

.justify-between {
  justify-content: space-between;
  display: flex;
}

.fa-star {
  font-size: 1.4rem;
  padding-top: 1rem;
}

.justify-left {
  justify-content: flex-start;
  display: flex;
}

.black-bg {
  background-color: rgb(0 0 0 / 70%);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.dialog-box {
  background-color: white;
  height: 150px;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.25rem;
}

.modal-text {
  font-size: medium;
  font-weight: 300;
  text-align: center;
  padding-top: 0.2rem;
}

.button-yes {
  background-color: #dc3545;
  color: white;
  font-weight: 300;
  padding: 0.3rem 1.2rem;
  margin-right: 2rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.25rem;
}

.button-no {
  background-color: #6c757d;
  color: white;
  font-weight: 300;
  padding: 0.3rem 1.2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.25rem;
}

.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #343a40;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}
