body {
  background-color: #fff8f5;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #343a40;
  color: white;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.breed-name {
  font-weight: 300;
  font-size: large;
  padding-left: 1rem;
}

.dog-card {
  padding: 1rem;
  margin: 1rem;
  margin-top: 2rem;
  border: 1px solid #afafaf;
  background-color: white;
  border-radius: 0.5rem;
}

.dog-img {
  object-fit: contain;
  width: 300px;
  height: 200px;
}

.placeholder-img {
  margin-top: 3rem;
  margin-bottom: 5rem;
  object-fit: contain;
  width: 100%;
  height: 400px;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

i:hover {
  cursor: pointer;
}

.get-dog {
  background-color: #343a40;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 300;
}

.find-dog {
  background-color: #343a40;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 2rem;
  border: none;
  border-radius: 0.25rem;
  font-weight: 300;
}

.h3-title {
  background-color: #343a40;
  margin-top: auto;
  padding-top: 1.2rem;
  padding-bottom: 0.2rem;
  padding-left: 4rem;
  font-weight: 400;
  font-size: medium;
}

.nav-item {
  padding-top: 1.2rem;
  padding-left: 2rem;
  font-weight: 300;
  font-size: medium;
  color: white;
}

.p-favorites {
  text-align: center;
  font-size: large;
  font-weight: 350;
  margin-top: 3rem;
}

.justify-between {
  justify-content: space-between;
  display: flex;
}

.fa-star {
  font-size: 1.4rem;
  padding-top: 1rem;
}

.justify-left {
  justify-content: flex-start;
  display: flex;
}
