body {
  background-color: #fff8f5;
  font-family: Roboto, sans-serif;
}

header {
  background-color: #343a40;
  color: white;
}

img {
  width: 100%;
  height: 400px;
}

.placeholder-img {
  margin-top: 3rem;
  margin-bottom: 5rem;
  object-fit: contain;
}

a {
  text-decoration: none;
}

a:hover {
  color: default;
}

.get-dog {
  background-color: #343a40;
  color: white;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
  border: none;
  border-radius: 0.25rem;
}

.h3-title {
  background-color: #343a40;
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  font-weight: 400;
  font-size: medium;
}
